{% extends 'index.html' %}

{% block title %}Envio Materiales{% endblock %}

{% block content %}
<section class="flex justify-end items-center">
    <form class="w-1/3 flex gap-2" method="get" action=".">
        <div class="flex-1">
            <input
                type="text"
                class="form-control"
                placeholder="Buscar..."
                name="search"
                value="{{ request.GET.search }}"
            />
        </div>
        <div class="w-12">
            <button class="btn btn-success">
                <i class="las la-search la-lg"></i>
            </button>
        </div>
    </form>
</section>
<section class="overflow-auto h-[calc(100vh_-_7.5rem)] md:h-[calc(100vh_-_9rem)] py-2 px-4 md:p-0 border-b mt-5">
    <table class="min-w-full">
        <thead>
            <tr class="sticky top-0 bg-gray-200 text-left text-gray-800 text-sm font-semibold">
                <th class="p-2 uppercase border">id</th>
                <th class="p-2 uppercase border">nombre</th>
                <th class="p-2 uppercase border">tipo</th>
                <th class="p-2 uppercase border">barrio</th>
                <th class="p-2 uppercase border">a. potable</th>
                    <th class="p-2 uppercase border">alcant.</th>
                <th class="p-2 uppercase border">inicio</th>
                <th class="p-2 uppercase border">fin</th>
                <th class="p-2 uppercase border">estado</th>
                <th class="p-2 uppercase border"></th>
            </tr>
        </thead>
        <tbody class='bg-white divide-y divide-gray-200'>
            {% for proyecto in proyectos %}
                <tr class="text-left text-sm font-normal text-gray-900">
                    <td class="p-2">{{ proyecto.pk }}</td>
                    <td class="p-2">{{ proyecto.nombre }}</td>
                    <td class="p-2">{{ proyecto.tipo.nombre }}</td>
                    <td class="p-2">{{ proyecto.barrio.nombre }}</td>
                    <td class="px-2">
                        {% if proyecto.barrio.servicio_agua is True %}
                            <i class="las la-check-circle la-2x text-green-600"></i>
                        {% else %}
                            <i class="las la-times-circle la-2x text-red-600"></i>
                        {% endif %}
                    </td>
                    <td class="px-2">
                        {% if proyecto.barrio.servicio_alcantarillado is True %}
                            <i class="las la-check-circle la-2x text-green-600"></i>
                        {% else %}
                            <i class="las la-times-circle la-2x text-red-600"></i>
                        {% endif %}
                    </td>
                    <td class="p-2">{{ proyecto.fecha_inicio|date:"d/m/Y" }}</td>
                    <td class="p-2">{{ proyecto.fecha_fin|date:"d/m/Y" }}</td>
                    <td class="p-2">{{ proyecto.get_estado_display }}</td>
                    <td class="flex gap-2 items-center justify-center h-12">
                        {% if proyecto.estado in valid_statuses %}
                            <div class="w-8">
                                <a href="{% url 'proyecto-envio-detail' proyecto.pk %}" class="btn-secondary">
                                    <i class="las la-arrow-right la-lg"></i>
                                </a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}